:root {
  --rqh-theme-contrastActiveBorder: #000000;
  --rqh-theme-contrastBorder: #ffffff;
  --rqh-theme-focusBorder: ;
  --rqh-theme-foreground: ;
  --rqh-theme-disabledForeground: ;
  --rqh-theme-widget.border: ;
  --rqh-theme-widget.shadow: ;
  --rqh-theme-selection.background: ;
  --rqh-theme-descriptionForeground: ;
  --rqh-theme-errorForeground: ;
  --rqh-theme-icon.foreground: ;
  --rqh-theme-sash.hoverBorder: ;
  --rqh-theme-window.activeBorder: ;
  --rqh-theme-window.inactiveBorder: ;
  --rqh-theme-textBlockQuote.background: ;
  --rqh-theme-textBlockQuote.border: ;
  --rqh-theme-textCodeBlock.background: ;
  --rqh-theme-textLink.activeForeground: ;
  --rqh-theme-textLink.foreground: ;
  --rqh-theme-textPreformat.foreground: ;
  --rqh-theme-textPreformat.background: ;
  --rqh-theme-textPreformat.border: ;
  --rqh-theme-textSeparator.foreground: ;
  --rqh-theme-toolbar.hoverBackground: ;
  --rqh-theme-toolbar.hoverOutline: ;
  --rqh-theme-toolbar.activeBackground: ;
  --rqh-theme-editorActionList.background: ;
  --rqh-theme-editorActionList.foreground: ;
  --rqh-theme-editorActionList.focusForeground: ;
  --rqh-theme-editorActionList.focusBackground: ;
  --rqh-theme-button.background: ;
  --rqh-theme-button.foreground: ;
  --rqh-theme-button.border: ;
  --rqh-theme-button.separator: ;
  --rqh-theme-button.hoverBackground: ;
  --rqh-theme-button.secondaryForeground: ;
  --rqh-theme-button.secondaryBackground: ;
  --rqh-theme-button.secondaryHoverBackground: ;
  --rqh-theme-button.secondaryBorder: ;
  --rqh-theme-checkbox.background: ;
  --rqh-theme-checkbox.foreground: ;
  --rqh-theme-checkbox.disabled.background: ;
  --rqh-theme-checkbox.disabled.foreground: ;
  --rqh-theme-checkbox.border: ;
  --rqh-theme-checkbox.selectBackground: ;
  --rqh-theme-checkbox.selectBorder: ;
  --rqh-theme-radio.activeForeground: ;
  --rqh-theme-radio.activeBackground: ;
  --rqh-theme-radio.activeBorder: ;
  --rqh-theme-radio.inactiveForeground: ;
  --rqh-theme-radio.inactiveBackground: ;
  --rqh-theme-radio.inactiveBorder: ;
  --rqh-theme-radio.inactiveHoverBackground: ;
  --rqh-theme-input.background: ;
  --rqh-theme-input.foreground: ;
  --rqh-theme-input.border: ;
  --rqh-theme-input.placeholderForeground: ;
  --rqh-theme-inputOption.activeForeground: ;
  --rqh-theme-inputOption.activeBackground: ;
  --rqh-theme-inputOption.activeBorder: ;
  --rqh-theme-inputOption.hoverBackground: ;
  --rqh-theme-inputValidation.infoBackground: ;
  --rqh-theme-inputValidation.infoForeground: ;
  --rqh-theme-inputValidation.infoBorder: ;
  --rqh-theme-inputValidation.errorBackground: ;
  --rqh-theme-inputValidation.errorForeground: ;
  --rqh-theme-inputValidation.errorBorder: ;
  --rqh-theme-inputValidation.warningBackground: ;
  --rqh-theme-inputValidation.warningForeground: ;
  --rqh-theme-inputValidation.warningBorder: ;
  --rqh-theme-scrollbar.background: ;
  --rqh-theme-scrollbar.shadow: ;
  --rqh-theme-scrollbarSlider.activeBackground: ;
  --rqh-theme-scrollbarSlider.background: ;
  --rqh-theme-scrollbarSlider.hoverBackground: ;
  --rqh-theme-badge.background: ;
  --rqh-theme-badge.foreground: ;
  --rqh-theme-progressBar.background: ;
  --rqh-theme-list.activeSelectionBackground: ;
  --rqh-theme-list.activeSelectionForeground: ;
  --rqh-theme-list.activeSelectionIconForeground: ;
  --rqh-theme-list.dropBackground: ;
  --rqh-theme-list.focusBackground: ;
  --rqh-theme-list.focusForeground: ;
  --rqh-theme-list.focusHighlightForeground: ;
  --rqh-theme-list.focusOutline: ;
  --rqh-theme-list.focusAndSelectionOutline: ;
  --rqh-theme-list.highlightForeground: ;
  --rqh-theme-list.hoverBackground: ;
  --rqh-theme-list.hoverForeground: ;
  --rqh-theme-list.inactiveSelectionBackground: ;
  --rqh-theme-list.inactiveSelectionForeground: ;
  --rqh-theme-list.inactiveSelectionIconForeground: ;
  --rqh-theme-list.inactiveFocusBackground: ;
  --rqh-theme-list.inactiveFocusOutline: ;
  --rqh-theme-list.invalidItemForeground: ;
  --rqh-theme-list.errorForeground: ;
  --rqh-theme-list.warningForeground: ;
  --rqh-theme-list.filterMatchBackground: ;
  --rqh-theme-list.filterMatchBorder: ;
  --rqh-theme-list.deemphasizedForeground: ;
  --rqh-theme-list.dropBetweenBackground: ;
  --rqh-theme-listFilterWidget.background: ;
  --rqh-theme-listFilterWidget.outline: ;
  --rqh-theme-listFilterWidget.noMatchesOutline: ;
  --rqh-theme-listFilterWidget.shadow: ;
  --rqh-theme-tree.indentGuidesStroke: ;
  --rqh-theme-tree.inactiveIndentGuidesStroke: ;
  --rqh-theme-tree.tableColumnsBorder: ;
  --rqh-theme-tree.tableOddRowsBackground: ;
  --rqh-theme-activityBar.background: #150621;
  --rqh-theme-activityBar.dropBorder: ;
  --rqh-theme-activityBar.foreground: #ffffffcc;
  --rqh-theme-activityBar.inactiveForeground: ;
  --rqh-theme-activityBar.border: #2c0d46;
  --rqh-theme-activityBar.activeBorder: #fc28a8;
  --rqh-theme-activityBar.activeBackground: ;
  --rqh-theme-activityBar.activeFocusBorder: #03edf9;
  --rqh-theme-activityBar.dropBackground: #34294f66;
  --rqh-theme-activityBarBadge.background: #8a2dc0;
  --rqh-theme-activityBarBadge.foreground: #ffffff;
  --rqh-theme-activityBarTop.foreground: ;
  --rqh-theme-activityBarTop.activeBorder: ;
  --rqh-theme-activityBarTop.inactiveForeground: ;
  --rqh-theme-activityBarTop.dropBorder: ;
  --rqh-theme-activityBarTop.background: ;
  --rqh-theme-activityBarTop.activeBackground: ;
  --rqh-theme-activityWarningBadge.background: #8a2dc0;
  --rqh-theme-activityWarningBadge.foreground: #ffffff;
  --rqh-theme-activityErrorBadge.background: #8a2dc0;
  --rqh-theme-activityErrorBadge.foreground: #ffffff;
  --rqh-theme-profileBadge.background: #8a2dc0;
  --rqh-theme-profileBadge.foreground: #ffffff;
  --rqh-theme-profileBadge.sashBorder: ;
  --rqh-theme-sideBar.background: ;
  --rqh-theme-sideBar.foreground: ;
  --rqh-theme-sideBar.border: ;
  --rqh-theme-sideBar.dropBackground: ;
  --rqh-theme-sideBarTitle.border: ;
  --rqh-theme-sideBarTitle.background: ;
  --rqh-theme-sideBarTitle.foreground: ;
  --rqh-theme-sideBarSectionHeader.background: ;
  --rqh-theme-sideBarSectionHeader.foreground: ;
  --rqh-theme-sideBarSectionHeader.border: ;
  --rqh-theme-sideBarActivityBarTop.border: ;
  --rqh-theme-sideBarStickyScroll.background: ;
  --rqh-theme-sideBarStickyScroll.border: ;
  --rqh-theme-sideBarStickyScroll.shadow: ;
  --rqh-theme-minimap.findMatchHighlight: ;
  --rqh-theme-minimap.selectionHighlight: ;
  --rqh-theme-minimap.selectionOccurrenceHighlight: ;
  --rqh-theme-minimap.infoHighlight: ;
  --rqh-theme-minimap.errorHighlight: ;
  --rqh-theme-minimap.warningHighlight: ;
  --rqh-theme-minimap.background: ;
  --rqh-theme-minimap.foregroundOpacity: ;
  --rqh-theme-minimap.chatEditHighlight: ;
  --rqh-theme-minimapSlider.background: ;
  --rqh-theme-minimapSlider.hoverBackground: ;
  --rqh-theme-minimapSlider.activeBackground: ;
  --rqh-theme-minimapGutter.addedBackground: ;
  --rqh-theme-minimapGutter.modifiedBackground: ;
  --rqh-theme-minimapGutter.deletedBackground: ;
  --rqh-theme-editorMinimap.inlineChatInserted: #88c7ff;}
